


/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* Home section styling*/
.home{
    display: flex;
   background-image: url(https://media.istockphoto.com/photos/textured-dark-vignette-black-background-picture-id675020930?b=1&k=20&m=675020930&s=170667a&w=0&h=ffR2ND9iD6jwBSuf3G_KKKrtd-i89SuMBJpLe-roYb0=);

    height: 100vh;
    width: 100%;
    color: #fff;
    min-height: 500px;
    font-family: 'ubuntu',sans-serif;
    
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text1{
    font-size: 20px;
}
.home .home-content .text2{
    font-size: 50px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text3{
    font-size: 28px;
    margin: 5px 0;
}
.home .home-content .text3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    text-decoration: none;
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    padding: 10px 32px;
    margin-top: 15px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #fff;
    background: none;
}

/* about section styling */
.about .title::after{
    content: "who i am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
    font-size: 19px;
}

/* services section styling */
.services{
    color:#fff;
    background: #111;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background: #111;
    content: "what i provide";
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: crimson;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* skills section styling */

.skills .title::after{
    content: "what i know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .bars{
    margin-bottom: 15px;
}
.skills .skills-content .left .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .left span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .left .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .left .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .left .html::before{
    width: 90%;
}
.skills-content .left .css::before{
    width: 60%;
}
.skills-content .left .js::before{
    width: 80%;
}
.skills-content .left .php::before{
    width: 50%;
}
.skills-content .left .mysql::before{
    width: 70%;
}

/* skills section styling right*/
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
/* language %  */ 
.skills-content .right .css::before{
    width: 80%;
}
.skills-content .right .js::before{
    width: 70%;
}
.skills-content .right .jquery::before{
    width: 80%;
}
.skills-content .right .bootstrap::before{
    width: 90%;
}
.skills-content .right .api::before{
    width: 60%;
}
.skills-content .right .cp::before{
    width: 70%;
}
.skills-content .left .react::before{
    width: 80%;
}
.skills-content .left .mongodb::before{
    width: 70%;
}
.skills-content .left .node::before{
    width: 50%;
}
.skills-content .left .express::before{
    width: 50%;
}
.skills-content .left .git::before{
    width: 80%;
}
.skills-content .left .html::before{
    width: 90%;
}

/* contact section styling */ 
.contact{
    font-family: 'Poppins', sans-serif;
    background-color: #111;
    color: #fff;
    padding-bottom: 130px;
}
.contact .title{
    font-family: 'ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 60px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
}
.contact .title:before{
content: "";
position: absolute;
bottom: 0px;
left: 50%;
width: 180px;
height: 3px;
background: #fff;
transform: translateX(-50%);
}
.contact .title::after{
    content: "get in touch";
    position: absolute;
    bottom: -11px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    background:#111;
    transform: translateX(-50%);
    }
.contact .contact-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -49px;
} 
.contact .contact-section .column{
    width: calc(50% - 30px);
    
}

.contact .contact-section .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: crimson;
}
.contact .contact-section .left .icons{
    margin: 10px 0;
}
.contact .contact-section .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-section .row .info{
    margin-left: 18px;
}
.contact .contact-section .row i{
    font-size: 20px;
    color: crimson;
}
.contact .contact-section .info .head{
    font-weight: 600;
    color: rgb(117, 103, 103);
}
.contact .contact-section .info .subtitle{
    font-weight: 200;
}
.contact .right{
    margin-top: -25px;
}

.contact .right form .fields{
    display: flex;
}
.contact .right form .field, .contact .right form .fields{
    height: 45px;
    width: 85%;
    margin-bottom: 13px;

}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: -7px;
    padding-left: 0px;
}
.contact .right form .textarea{
    height: 90px;

}
.contact .right form .field input, .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    
}
.contact .left{
        padding-left: 55px;
}
.contact .right form .textarea textarea{
    padding-top: 5px;
    resize: none;
}
/*send message button*/

.contact .right form .button{
    height: 47px;
    width: 170px;
    margin-top: 17px;
    
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color:crimson;
    background: none;
}

/*Footer section*/

footer{
    font-family: 'Poppins', sans-serif;
    background: rgb(102, 89, 89);
    padding: 5px 23px;
    color: #fff;
    text-align: center;
    font-size: 15px;
}
footer span a{
    color: rgb(2, 0, 1);
    text-decoration: none;
    font-weight: 600;

}


/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-section .column{
        width: 100%;
        margin-bottom: 35px;
    }
    .contact .contact-section .right{
        margin-left: 50px;

    }
   
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }

    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

/* media buttons*/

.wrapper{
    display: inline-flex;
}
  .wrapper .icon{
    margin: 0 6px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
  }
  .wrapper .icon span{
    display: block;
    height: 50px;
    width: 50px;
    background: rgb(51, 49, 49);
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   
  }

  .wrapper .icon span i{
    line-height: 50px;
    font-size: 28px;
    color: #fff;
    
  }
  
  .wrapper .icon:hover span{
    color: #fff;
    
  }
  .wrapper .icon:hover span{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);

  }
  .wrapper .linkedin:hover span{
    background: #3B5999;
  }
  
  .wrapper .instagram:hover span{
    background: #e1306c;
  }
  .wrapper .github:hover span{
    background: rgb(26, 25, 25);
  }
  .icon-link{
    color: #fff;
}
